<footer class="footer">
  <div class="cta bg-image bg-dark pt-4 pb-5 mb-0" style="background-image: url(assets/client/images/demos/demo-4/bg-5.jpg);">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-sm-10 col-md-8 col-lg-6">
                  <div class="cta-heading text-center">
                      <h3 class="cta-title text-white">Đơn hàng mới nhất</h3><!-- End .cta-title -->
                      <p class="cta-desc text-white">và nhận <span class="font-weight-normal">khuyến mãi 20%</span>cho lần đầu mua sắm</p><!-- End .cta-desc -->
                  </div><!-- End .text-center -->
              
                  <form action="#">
                      <div class="input-group input-group-round">
                          <input type="email" class="form-control form-control-white" placeholder="Nhập địa chỉ email của bạn" aria-label="Email Adress" required>
                          <div class="input-group-append">
                              <button class="btn btn-primary" type="submit"><span>Đăng kí ngay</span><i class="icon-long-arrow-right"></i></button>
                          </div><!-- .End .input-group-append -->
                      </div><!-- .End .input-group -->
                  </form>
              </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
          </div><!-- End .row -->
      </div><!-- End .container -->
  </div><!-- End .cta -->
<div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="widget widget-about">
            <img src="assets/client/images/demos/demo-4/home.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
            <p>Khách hàng thân thiết </p>

            <div class="widget-call">
                          <i class="icon-phone"></i>
                          Bất kì câu hỏi nào? Tư vấn 24/7
                          <a href="tel:#">+0123 456 789</a>         
                      </div><!-- End .widget-call -->
          </div><!-- End .widget about-widget -->
        </div><!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Liên kết hữu ích</h4><!-- End .widget-title -->

            <ul class="widget-list">
              <li><a href="about.html">Shoplap</a></li>
                          <li><a href="#">Dịch vụ của chúng tôi</a></li>
              <li><a href="#">Tới shoplap</a></li>
              <li><a href="faq.html">Câu hỏi thường gặp</a></li>
              <li><a href="contact.html">Liên hệ với chúng tôi</a></li>
            </ul><!-- End .widget-list -->
          </div><!-- End .widget -->
        </div><!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Dịch vụ khách hàng</h4><!-- End .widget-title -->

            <ul class="widget-list">
              <li><a href="#">Phương pháp thanh toán</a></li>
          
              <li><a href="#">Trả lại hàng hóa</a></li>
              <li><a href="#">Vận chuyển</a></li>

              <li><a href="#">Chính sách riêng tư</a></li>
            </ul><!-- End .widget-list -->
          </div><!-- End .widget -->
        </div><!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Tài khoản của tôi</h4><!-- End .widget-title -->

            <ul class="widget-list">
              <li><a href="#">Đăng nhập</a></li>
              <li><a href="cart.html">Xem giỏ hàng</a></li>
        
              <li><a href="#">Giúp đỡ</a></li>
            </ul><!-- End .widget-list -->
          </div><!-- End .widget -->
        </div><!-- End .col-sm-6 col-lg-3 -->
      </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .footer-middle -->

<div class="footer-bottom">
  <div class="container">
    <p class="footer-copyright">Copyright © 2019 shoplap. All Rights Reserved.</p><!-- End .footer-copyright -->
    <figure class="footer-payments">
      <img src="assets/client/images/payments.png" alt="Payment methods" width="272" height="20">
    </figure><!-- End .footer-payments -->
  </div><!-- End .container -->
</div><!-- End .footer-bottom -->
</footer><!-- End .footer -->